@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  text-decoration: none;
  font-size :1.7rem;
  height: 100vh;
  margin: 0;
}
